<section class="banner_main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="text-bg">
            <h1>
              <span class="blodark"> Dark Store </span> <br />
              <span style="padding-left: 100px">My Publication</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>


  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Publications</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Publications Commander</a>
    </li>
    
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"> 
       <app-my-publication-table></app-my-publication-table>
      </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
       <app-my-publication-commander-table></app-my-publication-commander-table>

    </div>

  </div>