<section class="banner_main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="text-bg">
            <h1>
              <span class="blodark"> Dark Store </span> <br />
              <span style="padding-left: 100px">Publication Information</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="project_box" style="padding-bottom: 80px;padding-top: 20px; margin-left: 500px; ">
    <div class="dark_white_bg">
      <img [src]="p.avatar" alt="#" />
      <div>
        <h1>{{ p.nameArticle }}</h1>
        <h4>Description: {{ p.description }}</h4>
        <h4>Prix: {{ p.prix }} DT</h4>
        <h4>Etat: {{ p.etat }}</h4>
        <h4>Quantity: {{ p.qty }}</h4>
      </div>
    </div>
   
  </div>