<div class="six_box">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-2 col-sm-4 pa_left">
             <div class="six_probpx yellow_bg">
                <i><img src="assets/images/shoes.png" alt="#"/></i>
                <span>Shoes</span>
             </div>
          </div>
          <div class="col-md-2 col-sm-4 pa_left">
             <div class="six_probpx bluedark_bg">
                <i><img src="assets/images/underwear.png" alt="#"/></i>
                <span>underwear</span>
             </div>
          </div>
          <div class="col-md-2 col-sm-4 pa_left">
             <div class="six_probpx yellow_bg">
                <i><img src="assets/images/pent.png" alt="#"/></i>
                <span>Pante & socks</span>
             </div>
          </div>
          <div class="col-md-2 col-sm-4 pa_left">
             <div class="six_probpx bluedark_bg">
                <i><img src="assets/images/t_shart.png" alt="#"/></i>
                <span>T-shirt & tankstop</span>
             </div>
          </div>
          <div class="col-md-2 col-sm-4 pa_left">
             <div class="six_probpx yellow_bg">
                <i><img src="assets/images/jakit.png" alt="#"/></i>
                <span>cardigans & jumpers</span>
             </div>
          </div>
          <div class="col-md-2 col-sm-4 pa_left">
             <div class="six_probpx bluedark_bg">
                <i><img src="assets/images/helbet.png" alt="#"/></i>
                <span>Top & hat</span>
             </div>
          </div>
       </div>
    </div>
  </div>