<section class="banner_main">
    <div class="container">
       <div class="row">
          <div class="col-md-8">
             <div class="text-bg">
                <h1> <span class="blodark"> Dark Store </span> <br>Trands 2022</h1>
                <p>A huge fashion collection for ever </p>
                <a class="read_more" href="#">Shop now</a>
             </div>
          </div>
          <div class="col-md-4">
             <div class="ban_img">
                <!-- <figure><img src="assets/images/ban_img.png" alt="#"/></figure> -->
             </div>
          </div>
       </div>
    </div>
  </section>